body {
  padding-top: 0px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

h2 {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
}

.glyphicon-white, .glyphicon-white a {
  color: #fff;
}

.glyphicon-gray, .glyphicon-gray a {
  color: #B6B6B5;
}

.active-tab {
  color: #fff;
}

.my-numberselect {
  max-width: 70px; 
  max-height: 30px;
}

.boldFont {
  font-weight: bold;
}

.my-error-message {
  margin-top: 10px;
}

.required-field {
  color: #FF8080;
  /*color: #3276b1;*/
}

.h3padding-top {
  padding-top: 60px;
}

.productAlertOff {
  display: none;
}

.productAlertOn {
  display: block;
}

#contact-map {
  margin-top: -20px; 
  margin-bottom: 30px;
}

.list-inline a:hover {
  text-decoration: none;
}

.contact-form-title {
  padding-top: 10px;
}

.contact-form {
  margin-top: 40px;
}

#about-carousel {
  margin-top: -20px;
}
